body{
    background: linear-gradient(106.44deg, #FD4C4C 29.65%, rgba(46, 66, 241, 0.82) 100%);
    display: flex;
    font-family: 'Nunito', sans-serif;
}

#failemail, #input{
    color: red;
    font-size: 11px;
    margin-top: 0px;
    margin-left: 65px;
}

.info
{
    display: flex;
    position: absolute;
    margin-left: 61%;
}

.picker
{
    border-radius: 12px;
    outline: none;
    border:solid;
    background-color: rgb(255, 255, 255, 0.5);
    border: solid white 1.5px;
    padding: 5px;
    text-align: center;
}

#cognomeInfo, #emailInfo{
    margin-left: 30px;
}

.box {
    position: fixed;
    left: 10%;
    top: 14%;
    height: 75%;
    width: 65%;
    background: linear-gradient(108.73deg, rgba(217, 217, 217, 0.412) 51.75%, rgba(217, 217, 217, 0.46) 95.31%);
    backdrop-filter: blur(2px);
    border-radius: 39px;
    padding: 20px;
}

.submit{
    position: fixed;
    top: 83%;
    left: 56%;
    height: 5%;
    width: 8%;
    border-radius: 30px;
    background: #ffffff;
    border: none;
    font-size: 19px;
}

.submit:hover{
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

.text1 {
    font-size: 22px;
    color: white;
}
.inputext
{
    border-radius: 16px;
    outline: none;
    border:solid;
    background-color: rgb(255, 255, 255, 0.5);
    border: solid white 1.5px;
    padding: 5px;
}

#scndPage
{
    visibility: hidden;
}

.aside{
    background-image: url("img/low-poly-grid-haikei (1).svg");
    width: 370px;
    height: 70%;
    position: absolute;
    left:20%;
    top:15%;
}

.boxForm
{
    background-color: white;
    border-radius: 16px;
    position: absolute;
    height: 70%;
    width: 45%;
    left: 38%;
    top:15%;
}

.Ouput {
    height: 40px;
    margin-left: 10px;
    border-radius: 16px;
    border-right: none;
    border-top: none;
    border-color: rgba(255, 253, 253, 0.8);
}

.Classe {
    height: auto;
    width: auto;
    position: fixed;
    left: 13%;
    top: 20%;
    color: white;
}

.OuputData {
    height: 40px;
    width: 60px;
    margin-left: 10px;
    border-radius: 16px;
    border-right: none;
    border-top: none;
    border-color: rgba(255, 253, 253, 0.8);
    outline: none;
    background-color: rgb(255, 255, 255, 0.5);
    border: solid white 1.5px;
}

form{
    position: relative;
    left: 25%;
}

.title
{
    position: relative;
    left: 25%;
}

.input
{
    margin-left: 10px;
    border-radius: 16px;
    border: solid;
    border-right: none;
    border-top: none;
    border-color: rgba(64, 64, 64, 0.8);
    font-family: 'Nunito';
}

.input:focus
{
    outline: none;
    border-color: rgb(27, 27, 27);
}

.invia
{
    background-color: #363636;
    border: none;
    width: 70px;
    height: 35px;
    border-radius: 17px;
    color: white;
    position: relative;
    left: 56%;
}

.invia:hover
{
    background-color: #242424;
    cursor: pointer;
}

#failname
{
    color: red;
    position: relative;
    left: 70px;
    font-size: 13px;
    margin: 0;
}

#failsurname
{
    color: red;
    position: relative;
    left: 105px;
    font-size: 13px;
    margin: 0;
}

.borndate
{
    font-family: 'Nunito', sans-serif;
    padding-left: 10px;
}

#faildate
{
    color: red;
    font-size: 11px;
    position: relative;
    left: 153px;
    margin: 0;
}

#errorData
{
    position: relative;
    margin-top: 0px;
    margin-bottom: -20px;
}

#Errorsc
{
    position: relative;
    margin-top: 0px;
}